<configuration scan="false" debug="false">
    <conversionRule
            conversionWord="traceID"
            converterClass="kamon.instrumentation.logback.tools.TraceIDConverter"/>

    <conversionRule
            conversionWord="spanID"
            converterClass="kamon.instrumentation.logback.tools.SpanIDConverter"/>

    <conversionRule
            conversionWord="contextTag"
            converterClass="kamon.instrumentation.logback.tools.ContextTagConverter"/>

    <conversionRule
            conversionWord="contextEntry"
            converterClass="kamon.instrumentation.logback.tools.ContextEntryConverter"/>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d | %traceID %spanID | %contextEntry{parentTraceId} | %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
